<div class="main_content_iner overly_inner">
   
   <div class="container-fluid bg-white  " style="border-radius: 25px; ">
      <div class="container">
        <div class="mt-5 d-flex">
            <div class="col-md-3 d-flex"
               style="box-shadow: rgb(60, 204, 67) 0px 6px 24px 0px, rgba(78, 219, 73, 0.897) 0px 0px 0px 1px;">
               <div class="w-75 pt-2">Total Sales :<br /><b>₹ {{data.totalSales}}</b></div>
               <div class="w-25"><img class="pt-2" style="width: 45px;" src="/images/profits.png" alt="" /></div>
            </div>
            <div class="col-md-3 ml-2 d-flex"
               style="box-shadow: rgba(162, 149, 241, 0.938) 0px 6px 24px 0px, rgb(0, 0, 0) 0px 0px 0px 1px;">
               <div class="w-75 pt-2">Total Orders :<br /><b>{{data.totalOrders}}</b></div>
               <div style="height: 60px;width: 60px;" class="w-25"><img class="pt-2" style="width: 45px;"
                  src="/images/cargo.png" alt="" /></div>
            </div>
            <div class="col-md-3 ml-2 d-flex"
               style="box-shadow: rgb(235, 146, 146) 0px 6px 24px 0px, rgb(241, 136, 136) 0px 0px 0px 1px;">
               <div class="w-75 pt-2">Total Products :<br /><b>{{totalPro}}</b></div>
               <div style="height: 60px;width: 60px;" class="w-25"><img class="pt-2" style="width: 45px;"
                  src="/images/logo1." alt="" /></div>
            </div>
            <div class="col-md-3 ml-2 d-flex"
               style="box-shadow: rgb(236, 238, 109) 0px 6px 24px 0px, rgb(215, 243, 53) 0px 0px 0px 1px;">
               <div class="w-75 pt-2">Total Users :<br /><b>{{totuser}}</b></div>
               <div style="height: 60px;width: 60px;" class="w-25"><img class="pt-2" style="width: 45px;"
                  src="/images/users.png" alt="" /></div>
            </div>
            
         </div>
          

                  
           <div class="row">
                 <div class="col-md-8">
                       <div class="chart-container mx-auto mt-5 "  style="position: relative; height:42vh; width:40vw;">
                   <div class="justify-content-center" >
                   <h6 style=>Order detials</h6>
                   </div>
                <div>
                 <canvas id="myChart" ></canvas>
                </div>
            </div> 
                 </div>
               
            <div class="col-md-4 mx-auto my-auto">
                  <div class="card " style="border-color:rgb(245, 151, 151);">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Date :
                           <span style="color: blueviolet;"> {{data.end}}</span>
                           </h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h6 class="d-flex align-items-center mb-0" >
                                Total: {{data.totalOrders}}
                            </h6>
                            <h6 class="d-flex align-items-center mb-0" >
                                Success: {{data.successOrders}}
                            </h6>
                            <h6 class="d-flex align-items-center mb-0" >
                                Failed:
                                <span>
                                   {{data.faildOrders}}
                                </span>
                            </h6>
                        </div>
                        <div class="col-4 text-right">
                            <span>12.5% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
            </div>
             
            
           </div>


             <div class="row">
                 <div class="col-md-8">
                       <div class="chart-container mx-auto mt-5 "  style="position: relative; height:42vh; width:40vw;">
                   <div class="justify-content-center" >
                   <h6 style=>Payment detials</h6>
                   </div>
               <div>
                 <canvas id="line" ></canvas>
                </div>
            </div> 
                 </div>
               
            <div class="col-md-3 mx-auto my-auto">
                  <div class="card " style="border-color:rgb(245, 151, 151);">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Payment
                           <span style="color: blueviolet;"> </span>
                           </h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                          
                            <h6 class="d-flex align-items-center mb-0" >
                                COD:    <div class="col-4 text-right">
                            <span>{{data.cod}}</i></span>
                        </div>
                            </h6>
                            <br>
                            <h6 class="d-flex align-items-center mb-0" >
                                Paypal:
                                   <div class="col-4 text-right">
                            <span>{{data.paypal}}</i></span>
                        </div>
                            </h6>
                            <br>
                               <h6 class="d-flex align-items-center mb-0" >
                                Razorpay: 
                                <div class="col-4 text-right">
                            <span>{{data.razorpay}}</i></span>
                        </div>
                            </h6><br>
                           
                        </div>
                        
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
            </div>
             
            
           </div>

           <div class="container p-3 mt-5">
                  <div class="row mt-2 mx-auto">

                     <div class="col-md-9 mx-auto">
                        <div class="mt-2 mb-4"><h6 class="mt-2 mb-2">User details</h6></div>
      <table
        class="table table-responsive-xs table-responsive-sm table-striped table-hover mt-3"
        id="usersTable"
        style="border: 1px solid rgb(8, 8, 8);
   border-radius: 18px;"
      >
        <thead>
          <tr>
           
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Authorisation</th>
            
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr>
              
              <td>{{this.Name}}</td>
              <td>{{this.Email}}</td>
              <td>{{this.phone}}</td>
              <td>{{this.auth}}</td>

             
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>
           </div>
           </div>
                    
                   
                   
                  
            
            
            
            
            
            
            
              <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
   <script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['TotalOrders', 'Sucess ', 'cancelled '],
        datasets: [{
            label: 'Orders',
            data: [{{data.totalOrders}},{{data.successOrders}},{{data.faildOrders}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var line = document.getElementById('line').getContext('2d');
    var chart = new Chart(line, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['COD', 'Razorpay', 'Paypal'],
            datasets: [{
                label: 'Payment Method',
                backgroundColor: 'rgba(342,0,0, 0.5)',


                data: [{{ data.cod }}, {{ data.razorpay }},{{ data.paypal }}]
			}]
		},

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                stacked: true
            }]
        }
    }
	});
</script>
      